<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647246202590-2q4l0m03e68ijbtfetp8pp3qt2t9ofc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647246202590-2q4l0m03e68ijbtfetp8pp3qt2t9ofc6</string>
	<key>API_KEY</key>
	<string>AIzaSyDD4ZBjobPcayx0CXvBy6lqrd85RwGD47o</string>
	<key>GCM_SENDER_ID</key>
	<string>647246202590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vn.flutterAppFlavor.dev</string>
	<key>PROJECT_ID</key>
	<string>dev-example-with-flavors</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-example-with-flavors.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647246202590:ios:5b62d203d6a34033e8a44f</string>
</dict>
</plist>