<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846515832197-iinamk7etoe1rpvlm7v0rr5fhfuoeq4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846515832197-iinamk7etoe1rpvlm7v0rr5fhfuoeq4e</string>
	<key>API_KEY</key>
	<string>AIzaSyAitcolFlV6dZpfrzSZQSsnC1suYP4xxjw</string>
	<key>GCM_SENDER_ID</key>
	<string>846515832197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vn.flutterAppFlavor.stg</string>
	<key>PROJECT_ID</key>
	<string>stg-example-with-flavors</string>
	<key>STORAGE_BUCKET</key>
	<string>stg-example-with-flavors.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846515832197:ios:5d28ab03613b7359f930ec</string>
</dict>
</plist>